@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --textColor: black;
    --textBorderColor: lightgray;
    --textBorderWidth: .03em;
    --fc-now-indicator-color: rgb(0, 225, 255);
    /* --fc-now-indicator-arrow-color: var(--fc-now-indicator-color); */

    color: var(--textColor);
    font-size: small;
    text-shadow:
    var(--textBorderWidth) 0 var(--textBorderColor),
    0 var(--textBorderWidth) var(--textBorderColor),
    calc(var(--textBorderWidth) * -1) 0 var(--textBorderColor),
    0 calc(var(--textBorderWidth) * -1) var(--textBorderColor);
}

.dark{
    --textColor: white;
    --textBorderColor: black;
    --textBorderWidth: .03em;
    --fc-now-indicator-color: rgb(0, 225, 255);
    /* --fc-now-indicator-arrow-color: var(--fc-now-indicator-color); */
}

.fc-col-header-cell {
    color: black;
   opacity: 1;
   background: none;
   background-color: none;
}
.fc-scrollgrid-section-header {
   opacity: 0.5;
   background: none;
   background-color: none;
}